ul.page
	li.page-wrapper(id="page1")
		img.page-image(src="img/leaflet/1.jpg")
	li.page-wrapper(id="page2")
		img.page-image(src="img/leaflet/2.jpg")
	li.page-wrapper(id="page3")
		img.page-image(src="img/leaflet/3.jpg")
	li.page-wrapper(id="page4")
		img.page-image(src="img/leaflet/4.jpg")
	li.page-wrapper(id="kontakt")
		p Dane teleadresowe