ul.pageSections
	li.pageSection(id="page1")
		img(src="img/leaflet/1.jpg")
	li.pageSection(id="page2")
		img(src="img/leaflet/2.jpg")
	li.pageSection(id="page3")
		img(src="img/leaflet/3.jpg")
	li.pageSection(id="page4")
		img(src="img/leaflet/4.jpg")