.header
	.header-logo
		img.header-logoImage(src="img/artdom_logo.jpg")
	ul.header-menu
		li.header-menuItem
			a.header-menuLink(href="#page1") Strona 1
		li.header-menuItem
			a.header-menuLink(href="#page2") Strona 2
		li.header-menuItem
			a.header-menuLink(href="#page3") Strona 3
		li.header-menuItem
			a.header-menuLink(href="#page4") Strona 4
		li.header-menuItem 
			a.header-menuLink(href="#kontakt") Kontakt